<script>
export default {
  name: 'BuyTokenComponent',
  page: {
    title: 'Buy token',
    meta: [{ name: 'buy token component' }],
  },

  data: function() {
    return {
      balance: 0,
      tokenAmount: 0,
      cardHolder: '',
      selectedProvider: '',
      cardProvider: ['MasterCard', 'Visa', 'CB'],
      cardNumbers: '',
      date: new Date().toISOString().substr(0, 7),
      menu: false,
      modal: false,
      errors: [],
    }
  },
  methods: {
    buyClick() {
      this.errors=[]
console.log(new Date(this.date) +" "+" "+ Date.now())
      if (
        this.cardHolder &&
        this.selectedProvider &&
        this.tokenAmount >= 0 &&
        this.cardNumbers.length === 16
      ) {
        this.balance += parseInt(this.tokenAmount, 10)
      } else {
        if (this.cardHolder.length <= 0) {
          this.errors.push('Card holder name required')
        }
        if (this.selectedProvider === '') {
          this.errors.push('Card provider is empty')
        }
        if(new Date(this.date) < Date.now()){
          console.log("oklm")
          this.errors.push('Date outdated')
        }
      }
    },
  },
}
</script>
<template>
  <div>
    <v-content>
      <v-container fluid>
        <p>Actual Balance : {{ balance }} Total Price : {{ tokenAmount }}</p>
        <p v-if="errors.length"><b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors" :key="error" >{{ error }}</li>
    </ul></p>
        <v-flex xs12>
          <v-combobox v-model="tokenAmount" label="Token Amount"></v-combobox>
        </v-flex>
        <v-layout wrap>
          <v-flex xs12>
            <v-combobox
              v-model="cardHolder"
              label="Card Holder Name"
            ></v-combobox>
          </v-flex>
          <v-flex xs12>
            <v-combobox
              v-model="selectedProvider"
              :items="cardProvider"
              label="Select Card provider"
            ></v-combobox>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="cardNumbers"
              label="Enter card numbers"
              mask="credit-card"
            ></v-text-field>
          </v-flex>
          <!-- date box-->
          <v-flex xs11 sm5>
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="date"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date"
                  label="Expiration date"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" type="month" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.menu.save(date)"
                  >OK</v-btn
                >
              </v-date-picker>
            </v-menu>
          </v-flex>
        </v-layout>
        <v-btn color="success" @click="buyClick">Buy</v-btn>
      </v-container>
    </v-content>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
