<script>
import Layout from '@layouts/main'
import PerfStatisticsView from '@components/performance-statistics-charts'
import dashboardHistory from '@components/dashboardHistory'

export default {
  metaInfo: {
    title: 'dashboard',
    meta: [{ name: 'description', content: 'Dashboard' }],
  },
  components: { Layout, PerfStatisticsView, dashboardHistory },
}
</script>

<template>
  <div style="margin-bottom: 50px">
    <Layout></Layout>
    <h2 align="center">Dashboard</h2>
    <PerfStatisticsView></PerfStatisticsView>
    <dashboardHistory></dashboardHistory>
  </div>
</template>


<style lang="scss" module>
@import '@design';
</style>
