<script>
import Layout from '@layouts/main'
import { validationMixin } from 'vuelidate'
import {
  required,
  minLength,
  sameAs,
  maxLength,
  email,
} from 'vuelidate/lib/validators'
import Axios from 'axios'
import { authMethods } from '@state/helpers'

export default {
  metaInfo: {
    title: 'signin',
    meta: [{ name: 'description', content: 'signin' }],
  },
  components: { Layout },

  mixins: [validationMixin],

  validations: {
    user: {
      name: { required, maxLength: maxLength(10) },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      repeatPassword: {
        required,
        sameAsPassword: sameAs('password'),
      },
    },

    checkbox: {
      checked(val) {
        return val
      },
    },
  },

  data: () => ({
    user: {
      name: 'tester',
      email: 'test@blocktrackme.com',
      password: 'azerty38',
      repeatPassword: 'azerty38',
    },
    emailDuplicated: false,
    checkbox: true,
    showPassword: false,
    showRepeatPassword: false,
    loader: false,
    loaderMessage: 'Sign in ...',
    api_url:
      process.env.NODE_ENV === 'development'
        ? 'http://localhost:3333/'
        : 'http://api:3000/',
    // submitted: false,
  }),

  computed: {
    checkboxErrors() {
      const errors = []
      if (!this.$v.checkbox.$dirty) return errors
      !this.$v.checkbox.checked && errors.push('You must agree to continue!')
      return errors
    },
    nameErrors() {
      const errors = []
      if (!this.$v.user.name.$dirty) return errors
      !this.$v.user.name.maxLength &&
        errors.push('Name must be at most 10 characters long')
      !this.$v.user.name.required && errors.push('Name is required.')
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.user.email.$dirty) return errors
      !this.$v.user.email && errors.push('Must be valid e-mail')
      !this.$v.user.email.required && errors.push('E-mail is required')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.user.password.$dirty) return errors
      !this.$v.user.password.minLength &&
        errors.push('Name must be most 6 characters long')
      !this.$v.user.password.required && errors.push('Password is required')
      return errors
    },
    repeatPasswordErrors() {
      const errors = []
      if (!this.$v.user.repeatPassword.$dirty) return errors
      !this.$v.user.repeatPassword.sameAsPassword && errors.push('samepassword')
      return errors
    },
  },
  watch: {
    loader(val) {
      if (!val) return
      setTimeout(() => (this.dialog = false), 4000)
    },
  },

  methods: {
    ...authMethods,
    submit() {
      this.$v.$touch()
      if (this.$v.$invalid) {
      } else {
        this.loader = true
        delete this.user.repeatPassword
        Axios.post(this.api_url + 'user/', JSON.stringify(this.user), {
          useCredentails: true,
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then((response) => {
            if (response.data.res === 'exist') {
              this.loader = false
              this.emailDuplicated = true
            } else {
              this.loaderMessage = 'Loggin ...'
              this.login()
            }
          })
          .catch((err) => {
            console.log('err ', err)
          })
      }
    },
    login() {
      console.log('now login')
      return this.logIn({
        email: this.user.email,
        password: this.user.password,
      })
        .then((token) => {
          // this.tryingToLogIn = false TODO : GERER L'ANIMATION

          // Redirect to the originally requested page, or to the home page
          this.$router.push(this.$route.query.redirectFrom || { name: 'home' })
        })
        .catch((error) => {
          console.log('erroooor login', error)
          // this.tryingToLogIn = false
          // this.authError = error
        })
    },
    clear() {
      this.$v.$reset()
      this.user.name = ''
      this.user.email = ''
      this.checkbox = false
      this.user.password = ''
      this.user.repeatPassword = ''
    },
  },
}
</script>

<template>
  <Layout>
    <form>
      <v-text-field
        v-model="user.name"
        :error-messages="nameErrors"
        :counter="10"
        label="Name"
        required
        @input="$v.user.name.$touch"
        @blur="$v.user.name.$touch"
      ></v-text-field>
      <div v-if="emailDuplicated">
        <v-alert :value="true" type="error"> Email already registred</v-alert>
      </div>
      <v-text-field
        v-model="user.email"
        :error-messages="emailErrors"
        label="E-mail"
        required
        @input="$v.user.email.$touch"
        @blur="$v.user.email.$touch"
      ></v-text-field>
      <v-text-field
        v-model="user.password"
        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
        :type="showPassword ? 'text' : 'password'"
        label="Password"
        :error-messages="passwordErrors"
        required
        @input="$v.user.password.$touch"
        @blur="$v.user.password.$touch"
        @click:append="showPassword = !showPassword"
      ></v-text-field>
      <v-text-field
        v-model="user.repeatPassword"
        :append-icon="showRepeatPassword ? 'visibility' : 'visibility_off'"
        :type="showRepeatPassword ? 'text' : 'password'"
        label="Repeat password"
        :error-messages="repeatPasswordErrors"
        required
        @input="$v.user.repeatPassword.$touch"
        @blur="$v.user.repeatPassword.$touch"
        @click:append="showRepeatPassword = !showRepeatPassword"
      ></v-text-field>
      <v-checkbox
        v-model="checkbox"
        :error-messages="checkboxErrors"
        label="Do you agree?"
        required
        @change="$v.checkbox.$touch"
        @blur="$v.checkbox.$touch"
      ></v-checkbox>
      <v-btn
        :disabled="loader"
        :loading="loader"
        class="white--text"
        color="purple darken-2"
        @click="submit"
        >submit</v-btn
      >
      <v-dialog v-model="loader" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text>
            {{ loaderMessage }}
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-btn :disabled="loader" @click="clear">Reset form</v-btn>
    </form>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>
